<footer class="page-footer">
  <!-- <div class="container">
  </div> -->
  <div class="footer-copyright">
    <div class="container">
        © 2017 <a href="https://github.com/suddenlyGiovanni" target="_blank">suddenlyGiovanni</a>
        <a href="/logout">logout</a>

    </div>
  </div>
</footer>
