<link rel="stylesheet" href="/css/header.css">

<!-- <h1>HEADER</h1>
<nav>
    <ul>
        <li><a href="/">/</a></li>
        <li><a href="/login">/login</a></li>
        <li><a href="/register">/register</a></li>
        <li><a href="/profile">/profile</a></li>
        <li><a href="/profile/edit">/profile/edit</a></li>
        <li><a href="/petition">/petition</a></li>
        <li><a href="/petition/signed">/petition/signed</a></li>
        <li><a href="/petition/signers">/petition/signers</a></li>
    </ul>
</nav> -->

<a href="/logout">logout</a>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">/</a></li>
            <li><a href="/login">/login</a></li>
            <li><a href="/register">/register</a></li>
            <li><a href="/profile">/profile</a></li>
            <li><a href="/profile/edit">/profile/edit</a></li>
            <li><a href="/petition">/petition</a></li>
            <li><a href="/petition/signed">/petition/signed</a></li>
            <li><a href="/petition/signers">/petition/signers</a></li>
        </ul>
    </div>
</nav>
