<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Petition</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!--Import your_styles.css-->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        {{>header}}
    </header>

    <!-- MAIN -->
    <main>
        <div class="container">
            <!-- Page Content goes here -->
            {{{body}}}
        </div>
    </main>


    <!-- FOOTER -->
    <footer>
        {{>footer}}
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/petition.js"></script>
</body>

</html>
