<!-- /login -->
<div class="row">

    <h1>Please log in.</h1>
    <form class="col s12 login" action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <!-- EMAIL -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" class="validate" type="email" name="email" autocomplete="email" required>
                <label for="email" class="active" data-error="wrong email format" data-success="right">Email Address</label>
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">fingerprint</i>
                <input id="password" class="validate" type="password" name="password" autocomplete="current-password" required>
                <label for="password" class="active" data-error="wrong" data-success="right">Password</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light pulse" type="submit" name="action">LOG IN
            <i class="material-icons right">account_box</i>
        </button>
    </form>

    <p>if you are not already registered, you can <a href="/register">register here</a></p>

</div>
