<!-- /login -->

<h1>Please log in.</h1>
<form class="login" action="/login" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <p>
        <label>Email Address <input type="email" name="email" placeholder="jhon.doe@email.com" autocomplete="username" required></label>
    </p>

    <p>
        <label>Password <input type="password" name="password" placeholder="letmein" autocomplete="current-password" required></label>
    </p>

    <button type="submit" name="submit">LOGIN</button>
</form>

<p>if you are not already registered, you can <a href="/register">register here</a></p>
