<div id="petition">
    <p>
        Sign our petition to make the wearing of <u>Crocs</u> in public places a criminal act in every jurisdiction!
    </p>
    <div>
        <img src="/images/chulhuism.gif" alt="">
    </div>
    {{#if error}}
        {{>error}}
    {{/if}}
    <section>
        <form action="/petition" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input id="canvasInput" type="text" name="signature" value="" hidden="true">
            <p>Sign Here</p>
            <canvas id="canvas"></canvas>
            <input type="submit" value="SUBMIT">
        </form>
    </section>
</div>
