<!-- /profile -->

<h2>Please tell us now just a little bit more about youreself.</h2>
<form class="profile" action="/profile" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">



    <p>
        <label>Age <input type="number" name="age" placeholder="21"></label>
    </p>

    <p>
        <label>City <input type="text" name="city" placeholder="Berlin" autocomplete="address-level2"></label>
    </p>

    <p>
        <label>Homepage <input type="url" name="url" placeholder="https://www.jhondoe.com" autocomplete="url"></label>
    </p>


    <button type="submit" name="submit">CONTINUE</button>
</form>
