<h2>Please tell us now just a little bit more about youreself.</h2>
<form class="profile" action="/profile" method="POST">
    <input type="text" name="age" placeholder="21">
    <p>Age</p>
    <input type="text" name="city" placeholder="Berlin">
    <p>City</p>
    <input type="text" name="url" placeholder="www.jhon-doe.com">
    <p>Homepage</p>
    <button type="submit" name="submit">CONTINUE</button>
</form>
