<!-- /register -->

<h2>Sign up to join our campain today</h2>
<form class="register" action="/register" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <p>
        <label>First Name <input type="given-name" name="firstName" placeholder="Jhon" autocomplete="given-name" required></label>
    </p>

    <p>
        <label>Last Name <input type="family-name" name="lastName" placeholder="Doe" autocomplete="family-name" required></label>
    </p>

    <p>
        <label>Email Address <input type="email" name="email" placeholder="jhon.doe@email.com" autocomplete="email" required></label>
    </p>

    <p>
        <label>Password <input type="password" name="password" placeholder="letmein" autocomplete="new-password" required></label>
    </p>


    <button type="submit" name="submit">SIGN UP</button>
</form>

<p>if you are already a member, please <a href="/login">log in</a></p>
