<!-- /register -->

<h2>Sign up to join our campain today</h2>
<form class="register" action="/register" method="POST">
    <input type="text" name="firstName" placeholder="Jhon" required>
    <p>First Name</p>
    <input type="text" name="lastName" placeholder="Doe" required>
    <p>Last Name</p>
    <input type="text" name="email" placeholder="jhon.doe@email.com" required>
    <p>Email Address</p>
    <input type="text" name="password" placeholder="letmein" required>
    <p>Password</p>
    <button type="submit" name="submit">SIGN UP</button>
</form>

<p>if you are already a member, please <a href="/login">log in</a></p>
