<p>We the undersigned demad that the barbaric practice of wearing Crocs in pubblic places be banned by all nation.</p>

<ul>
    {{#each signers}}
        <li>{{this.firstName}} {{this.lastName}}</li>
    {{/each}}
</ul>
