<p>thank you for your signature!</p>
{{signedData }}
    <img src="{{this.signature}}" alt="signature">
    <a href="/petition/signers">See all {{this.num}} signers</a>
{{signedData }}
<a href="/profile/edit">Edit your profile</a>
<a href="/petition/signed/unsigning">Delete your signature</a>
