<p>We the undersigned demad that the barbaric practice of wearing Crocs in pubblic places be banned by all nation.</p>

<ul>
    <li>name1</li>
    <li>name1</li>
    <li>name1</li>
    <li>name1</li>
    <li>name1</li>
</ul>
